@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Alegreya+Sans+SC|Cinzel');
@import url('https://fonts.googleapis.com/css?family=Arapey|Open+Sans|Secular+One');


body {
    margin: 0px;
}

.V-Nav {
    display: flex;
    background: url("https://images.unsplash.com/photo-1522761862062-66f37ca4a847?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5e4d4ddc84c1bb8d41d074537f7c9a22&auto=format&fit=crop&w=400&q=60");
    overflow: hidden;
}

.V-Nav ul {
    list-style: none;
}

.V-Nav li {
    display: inline;
}

.V-Nav a {
    color: #19424e; 
    text-decoration: none;
    font-family: "Alegreya Sans SC", serif;
    font-size: 28px;
    margin-right: 20px;
}

.V-Nav a:hover {
    color: white;
    transition: 0.8s;
}

.V-Nav #linkPrime {
    color: white;
    font-family: "Secular One", serif;
    font-weight: bold;
    margin-right: 500px;
}

.V-Nav #linkPrime:hover {
    color: #1e3f49;
    font-weight: bolder;
    transition: 2s;
}

.JT {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #0f87b6, #4da8be, #86c6c7, #bee3d8, #f2fff5);
    height: 500px;
}

.JT div {
    margin-top: 100px;
    text-align: center;
    /* background: #ffffffc4; */
    background: url("https://images.unsplash.com/photo-1540202403-b7abd6747a18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7c04f5a98155099992d8bb9cc37e387&dpr=1&auto=format&fit=max&w=500&q=60&cs=tinysrgb");
    width: 500px;
    height: 250px;
}

.JT div h1{
    padding-top: 25px;
    font-family: "Alegreya Sans SC", serif;
    color: #235a70df;
    font-size: 50px;
} 


.JT div:hover {
    margin-top: 85px;
    text-align: center;
    /* background: #ffffffc4; */
    background: url("https://images.unsplash.com/photo-1540202403-b7abd6747a18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7c04f5a98155099992d8bb9cc37e387&dpr=1&auto=format&fit=max&w=500&q=60&cs=tinysrgb");
    padding-top: 10px;
    width: 500px;
    height: 300px;
    transition: 2s;
}

.JT div h1:hover {
    padding-top: 55px;
    font-family: "Alegreya Sans SC", serif;
    color: #235a70df;
    font-size: 50px;
    transition: 2s;
} 

.Benefits {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, #f8f8f8, #f8f8f8, #48d3e9, #48d3e9, #44b9cb, #44b9cb);
}

.Benefits div {
    padding: 10px;
    padding-top: 0px;
    margin: 30px;
    text-align: center;
    background-color: #ffffffec;
    border-radius: 5px;
}

.Benefits div h2 {
    color: #20464d;
    background-image: linear-gradient(to right top, #0f87b6, #4da8be, #86c6c7, #bee3d8, #f2fff5);
    font-family: "Alegreya Sans", sans-serif;
    font-size: 27px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 3px solid #1c9c9c;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: -1px 2px 4px rgba(255, 255, 255, 0.72);
}

.Benefits div p {
    color: #56858d;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

#Pro {
    flex: 1;
}

#Mind {
    flex: 1;
}

#Life {
    flex: 1;
}

.About_V {
    display: flex;
    justify-content: center;
}

.Who {
    flex: 3;
    color: white;
    background-color: #19424e;
    
}

.Who h1 {
    border-bottom: 10px double #1c9c9c;
    padding-left: 20px;
    font-size: 35px;
    font-family: "Alegreya Sans SC", sans-serif;
}

.Who p {
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
/* V-focus Name */
#VN {
    color: #1c9c9c;
    font-weight: bolder;
}

.Collab {
    flex: 1.3;
    text-align: center;
    padding: 5px 10px;
    font-family: "Alegreya Sans SC", sans-serif;
    background-image: linear-gradient(to right top, #f8ffce, #f0ffca);
}

.Collab h1 {
    color: #1c9c9c;
    font-family: "Secular One", serif;
}

.Collab p {
    color: #6e6e6e;
    font-size: 20px;
}

.Collab a {
    color: #1c9c9c;
    font-weight: 800;
}

.Collab a:hover {
    color: #44b9cb;
    transition: 0.8s;
}

.Collab a:visited {
    color: #1c9c9c;
}

