@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Alegreya+Sans+SC|Cinzel');
@import url('https://fonts.googleapis.com/css?family=Arapey|Secular+One');


body {
    margin: 0px;
}

.V-Nav {
    display: flex;
    background: url("https://images.unsplash.com/photo-1522761862062-66f37ca4a847?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5e4d4ddc84c1bb8d41d074537f7c9a22&auto=format&fit=crop&w=400&q=60");
    overflow: hidden;
}

.V-Nav ul {
    list-style: none;
}

.V-Nav li {
    display: inline;
}

.V-Nav a {
    color: #19424e; 
    text-decoration: none;
    font-family: "Alegreya Sans SC", serif;
    font-size: 28px;
    margin-right: 20px;
}

.V-Nav a:hover {
    color: white;
    transition: 0.8s;
}

.V-Nav #linkPrime {
    color: white;
    font-family: "Secular One", serif;
    font-weight: bold;
    margin-right: 500px;
}

.V-Nav #linkPrime:hover {
    color: #1e3f49;
    font-weight: bolder;
    transition: 2s;
}

.JT {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #0f87b6, #4da8be, #86c6c7, #bee3d8, #f2fff5);
    height: 500px;
}

.JT div {
    margin-top: 100px;
    text-align: center;
    /* background: #ffffffc4; */
    background: url("https://images.unsplash.com/photo-1540202403-b7abd6747a18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7c04f5a98155099992d8bb9cc37e387&dpr=1&auto=format&fit=max&w=500&q=60&cs=tinysrgb");
    width: 500px;
    height: 250px;
}

.JT div h1{
    padding-top: 25px;
    font-family: "Alegreya Sans SC", serif;
    color: #235a70df;
    font-size: 50px;
} 


.JT div:hover {
    margin-top: 85px;
    text-align: center;
    /* background: #ffffffc4; */
    background: url("https://images.unsplash.com/photo-1540202403-b7abd6747a18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7c04f5a98155099992d8bb9cc37e387&dpr=1&auto=format&fit=max&w=500&q=60&cs=tinysrgb");
    padding-top: 10px;
    width: 500px;
    height: 300px;
    transition: 2s;
}

.JT div h1:hover {
    padding-top: 55px;
    font-family: "Alegreya Sans SC", serif;
    color: #235a70df;
    font-size: 50px;
    transition: 2s;
} 

.Benefits {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to left top, #f8f8f8, #b7d4ee, #44b9cb);
}

.Benefits div {
    padding: 10px;
    margin: 30px;
    text-align: center;
    background-color: #ffffffce;
    border-radius: 5px;
}

.Benefits div h2 {
    color: #20464d;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 27px;
    padding-bottom: 5px;
    border-bottom: 3px solid #1c9c9c;
}

.Benefits div p {
    color: #20464d;
    font-family: "Arapey", serif;
    font-size: 18px;
    font-weight: 700;
}

#Pro {
    flex: 1;
}

#Mind {
    flex: 1;
}

#Life {
    flex: 1;
}